<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--customer db source-->
    <add key="CustDataSrc" value="Data Source=WIN-NM7DJ4MPVHD;Integrated Security=SSPI;Initial Catalog=Mydb;User ID=WIN-NM7DJ4MPVHD\\Administrator;Password=@123" />
    <!--tfs db source-->
    <add key="TfsDataSrc" value="Data Source=WIN-NM7DJ4MPVHD;Integrated Security=SSPI;Initial Catalog=Tfs_Warehouse;User ID=WIN-NM7DJ4MPVHD\\Administrator;Password=@123" />
    <!--tfs web access url-->
    <add key="TfsUri" value="http://win-localhost:8080/tfs/" />
    <!--tfs username-->
    <add key="TfsUsername" value="Administrator" />
    <!--tfs password-->
    <add key="TfsPassword" value="@123" />
    <!--Sync interval-->
    <add key="Time" value="1" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.TeamFoundation.Client" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.TeamFoundation.Common" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.TeamFoundation.WorkItemTracking.Client" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>